<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Notification.Processor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Notification.Processor.Settings.BeeConnectionString" connectionString="Data Source=120.138.28.36\MSSQLSERVER64;Initial Catalog=Bee;Persist Security Info=True;User ID=kiwiappuser;Password=2W8t#c!ptTau@W5bvdKR" providerName="System.Data.SqlClient" />
    <add name="NotificationEntities" connectionString="metadata=res://*/NotificationModel.csdl|res://*/NotificationModel.ssdl|res://*/NotificationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.138.28.36\MSSQLSERVER64;initial catalog=Bee;persist security info=True;user id=kiwiappuser;password=2W8t#c!ptTau@W5bvdKR;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.138.28.36\MSSQLSERVER64;initial catalog=Bee;persist security info=True;user id=kiwiappuser;password=2W8t#c!ptTau@W5bvdKR;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailTemplate" value="EmailTemplate.cshtml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <Notification.Processor.Settings>
      <setting name="FetchingIntervalSeconds" serializeAs="String">
        <value>1000</value>
      </setting>
    </Notification.Processor.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <!--<network host="127.0.0.1" userName="username" password="password" />-->
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="s0yf3l1z@gmail.com" password="gmailtesting" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>